<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LoginJson.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8B90609E1C0026A100D1E633</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B9060B71C0026A100D1E633</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B9060C21C0026A100D1E633</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
